/* font-family: 'Antic', sans-serif;
font-family: 'Anton', sans-serif;
font-family: 'Archivo Black', sans-serif; -- Heading
font-family: 'Stylish', sans-serif; */

/* #D2CFD2 */

div#wrapper {
    margin: 1em;
    padding: 10px;
    background-color: #F0EFEF;
    border-radius: 10px;
    box-shadow: 3px 3px 5px grey;
    min-height: 1100px;
}

    div#wrapper header {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    div#wrapper header h1 {
        display: inline-block;
        font-family: 'Archivo Black', sans-serif;
        margin-left: 1em;
        font-size: 3em;
    }

    div#wrapper header h2 {
        display: inline-block;
        font-family: 'Antic', sans-serif;
        margin-right: 1em;
        font-size: 1.5em;
    }

    div#wrapper div#main {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        min-height: 400px;
    }

        div#wrapper div#main img.profilepic {
            display: inline-block;
            box-sizing: border-box;
            border: 10px solid #D2CFD2;
            width: 40%;
            height: 40%;
        }

        div#wrapper div#main div#links {
            padding: 5px;
        }

            div#wrapper div#main div#links div.linkbox {
                border-radius: 15px;
                background-color: #D2CFD2;
                box-shadow: 2px 2px 2px grey;
                padding: 5px;
            }

            div#wrapper div#main div#links div.linkbox img {
                display: inline-block;
                vertical-align: middle;
                width: 20%;
            }

            div#wrapper div#main div#links div.linkbox h3 {
                display: inline-block;
                width: 75%;
                text-align: center;
                font-family: 'Anton', sans-serif;
                font-size: 2em;
                color: navy;
            }

            div#wrapper div#main div#links div.linkbox p {
                display: inline-block;
                margin-left: .5em;
                font-family: 'Stylish', sans-serif;
                color: darkslategrey;
            }

            div#wrapper div#main div#links div.linkbox a {
                text-decoration: none;
                color: black
            }